* {
    padding: 0 auto;
    margin: 0;
}
html {
    background-color: #0D172A;
    font-family: 'Oswald', sans-serif;;
}
header {
    margin-bottom: 6vh;
}
footer {
    margin-top: 6vh;
}
.header-text {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 3vw;
    margin-top: 3vw;
}
.flex-box {
    display: flex;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {

    /*HAMBURGER MENU*/

    #drop-nav {
        display: flex;
        padding: 1%;
        width: 30px;
        cursor: pointer;
        color: white;
        margin-left: 80%;
        font-size: 40px;
        margin-top: 2vh;
    }
    #nav-box{
        overflow: hidden;
        height: 0px;
        margin-top: -2vh;
        transition: ease-in-out 0.7s;
    }
    #menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: ease-in-out 0.7s;
        margin-top: 2vh;
    }
    #menu a {
        margin: 0;
        padding: 1%;
        width: 100%;
        background-color: #0D172A;
        text-decoration: none;
        color: white;
        text-align: center;
        font-size: 25px;
        padding-bottom: 1vh;
        padding-top: 1vh;
        transition: ease-in-out 0.5s;
        align-items: center;
    }
    #menu a:hover {
        color: orange;
    }
    .logo {
        position: absolute;
        float: left;
        margin-top: 1vh;
        margin-left: 2vh;
        width: 100px;
    }

    /*HAMBURGER MENU*/

    /* TEXT OPMAAK */

    p {
        color: white;
        font-size: 15px;
    }
    h1 {
        color: white;
        font-size: 20px;
    }
    h2 {
        color:#FF8700;
        font-size: 30px;
    }

    /* TEXT OPMAAK */
    

    /*FOOTER*/
    
    #Footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #0D172A;
        color: white;
    } 
    
    p {
        color: white;
        font-size: 0.6rem;
        padding-right: 50px;
    }
        
    h1 {
        color: white;
        font-weight: bold;
        padding-left: 4px;
        font-size: 1.0rem;
    }
        
    .adres-contact-media {
        float: right;
        padding-right: 5%;
        color: white;
    }
        
    .adres-contact-media img{
        position: absolute;
        height: 30px;
        width: 30px;
    }
        
    .adres-contact-media p{
        padding-left: 50%;
    }
 
    .adres {
        margin-left: -12px;
    }

    /*FOOTER*/
}
@media only screen and (min-width: 768px) {

    /*HAMBURGER MENU*/

    #drop-nav {
        display: none;
    }
    #menu {
        display: contents;
    }
    #menu a, li {
        padding: 1vw;
        list-style: none;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    #menu a:hover {
        color: orange;
    }
    #nav-box {
        margin-right: 1.5vw;
        margin-top: 1.5vw;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        margin-left: 1vw;
        margin-top: 1vw;
        width: 130px;
    }

    /*HAMBURGER MENU*/

    /* FONT */

    p {
        color: white;
        font-size: 20px;
    }
    h1 {
        color: white;
        font-size: 30px;
    }
    h2 {
        color:#FF8700;
        font-size: 40px;
    }
    /* FONT */

    /*FOOTER*/

    #Footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #0D172A;
        color: white;
        } 
        
    p {
        color: white;
    }
    
    h1 {
        color: white;
        font-weight: bold;
    }
 
    .adres-contact-media {
        float: right;
        color: white;
        flex-direction: row;
    }
        
    .adres-contact-media img{
        height: 50px;
        width: 50px;
    }
        
    .adres-contact-media p{
        padding-left: 15%;
    }
 
    .adres-contact-media h1{
        padding-bottom: 10%;
    }
 
    .social-icon{
        display: flex;
        margin-top: 8%;
    }

    /*FOOTER*/

}
